// Login Form

#login {
	background: #eee;
	border-radius: 10px;
	max-width: 400px;
	margin: 40px auto;
	padding: 20px;

	h1 {
		font-weight: 100;
		letter-spacing: 1px;
		line-height: 1;
		margin: 0 0 20px;
	}

	input {
		@include font-size(18);

		font-weight: 300;
		margin-top: 20px;

		&:first-child {
			margin-top: 0px;
		}
	}

	input[type='password'] {
		@include font-size(30);
		line-height: 0;

		@include placeholder {
	    @include font-size(18);
	    line-height: 2
	  }
	}

	.btn {
		float: right;
		margin-top: 20px;
		width: 100%;
	}

	.form-group {
		margin-bottom: 0px;
	}
}